# The main motivation behind the lambda expressions is the simplicity and practicality.
Consider an operation that needs to be done once or very few times. Furthermore, we have many variations of this operation which are slightly different than the original one. In such case, it is not ideal to define a separate function for each operation. Instead, lambda expressions provide a much more efficient way of accomplishing the tasks.  

One common use case for lambda expressions is that they can be passed as argument to another function. The map, reduce, and filter functions in Python are higher-order functions that can accept other functions as arguments.  

The map, reduce, and filter functions in Python are higher-order functions that can accept other functions as arguments.

# Lambda Functions

## Basic Function

In [ ]:
def add( num ):  
   return num + 4  
print( add(6) )

10

## Lambda Function

In [ ]:
add = lambda num: num + 4  
print( add(6) )

10

## Using Lambda Function with if-else

In [ ]:
def minumum(x,y):
  if (x < y):
    return x
  else:
    return y

print(minumum( 35, 74 ))

35

In [ ]:
Minimum = lambda x, y : x if (x < y) else y  
   
print(Minimum( 35, 74 ))

35

## The map, reduce, and filter functions in Python are higher-order functions that can accept other functions as arguments.*italicized text*

In [ ]:
a = [1, 3, 2, 6, 7, 4]

In [ ]:
from functools import reduce
reduce(lambda x, y: x*y, a)

1008

In [ ]:
list(map(lambda x: x*x, a))

[1, 9, 4, 36, 49, 16]

In [ ]:
list(filter(lambda x: x > 4, a))

[6, 7]

# List Comprehension

## Populate a list with a for loop

In [ ]:
nums = [12, 8, 21, 3, 16]
new_nums = []
for num in nums:
  new_nums.append(num + 1)
print(new_nums)

[13, 9, 22, 4, 17]

## A list comprehension
newlist = [expression for item in iterable if condition == True]

In [ ]:
nums = [12, 8, 21, 3, 16]
new_nums = [num + 1 for num in nums]
print(new_nums)

[13, 9, 22, 4, 17]

## List comprehension with range()

In [ ]:
result = [num for num in range(11)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## List comprehensions
Collapse for loops for building lists into a single line  
Components  
- Iterable  
- Iterator variable (represent members of iterable)  
- Output expression

In [ ]:
text = 'list COMPREHENSION is A way TO create LISTS'
output = [len(word) for word in text.split() if word.islower()]

## Nested loops

In [ ]:
pairs_1 = []
for num1 in range(0, 2):
  for num2 in range(6, 8):
    pairs_1.append((num1, num2))
print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [ ]:
pairs_2 = [(num1, num2) for num1 in range(0, 2) for num2 in range(6, 8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

# Advanced comprehensions

## Conditionals in comprehensions

In [ ]:
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

In [ ]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

## Dict comprehensions

In [ ]:
pos_neg = {num: -num for num in range(9)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

# Generator expressions

## Generator expressions

In [ ]:
(2 * num for num in range(10))

## Printing values from generators

## Generator functions
Produces generator objects when called  
Defined like a regular function - def  
Yields a sequence of values instead of returning a single value  
Generates a value with yield keyword

In [ ]:
result = (num for num in range(6))
for num in result:
  print(num)

0
1
2
3
4
5

In [ ]:
result = (num for num in range(6))
print(list(result))

[0, 1, 2, 3, 4, 5]

In [ ]:
result = (num for num in range(6))

In [ ]:
# Lazy evaluation
print(next(result))

1

## Generators vs list comprehensions

In [ ]:
# [n for n un range(10*1000000)]
# (n for n un range(10*1000000))

In [ ]:
even_nums = (num for num in range(10) if num % 2 == 0)
print(list(even_nums))

[0, 2, 4, 6, 8]

# Re-cap: list comprehensions

### Basic
[output expression for iterator variable in iterable]  
### Advanced
[output expression +  
conditional on output for iterator variable in iterable +  
conditional on iterable]

In [ ]:
h_letters = [ letter for letter in 'human' ]
print( h_letters)

['h', 'u', 'm', 'a', 'n']

## Using Lambda Function with List Comprehension